<br>
<br>
<br>
<br>
<div class="bubble text-center">
  <h2>Welcome to Speech Keep</h2>
  <p>The Speech Iteration App that allows Teachers and Students to interact</p>
  <div> <p> Teacher </p>
    <button onclick="window.location.href='/login'">Login</button>
    <button onclick="window.location.href='/signup'">Signup</button>
  </div>
  <div> <p> Student</p>
    <button onclick="window.location.href='/studentLogin'">Login</button>
</div>

<footer class="bubble text-center">The interactive speech app created to practice MEAN Full-Stack programming,
  with information learned at IRONHACK'S Bootcamp </footer>
